.ban-panel {
    background-image: url("https://media.stickerswiki.app/roskomnadzorchanrikani/6681519.512.webp");
    background-repeat: no-repeat;
    background-position: center;
    padding: 300px 300px;
}