.modal-wrapper {
    z-index: 9999;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal {
    display: inline;
    background: white;
    width: 50%;
    height: 70%;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 50%;
    margin-top: 7%;
    margin-left: 25%;
}
.modal-btn {
    display: block;
    min-width: 15%;
    max-height: 7%;
    margin: 5px 5px;
}
.modal-buttons-group {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}